---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Cortex";
    src: url(../src/assets/fonts/CortexSymbology-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "New Rocker";
    src: url(../src/assets/fonts/NewRocker-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Cormorant Garamond";
    src: 
        url(../src/assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf), format('truetype');
}

body, p {
    font-family: 'Cortex', 'Cormorant Garamond', 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cortex', 'New Rocker', 'Open Sans', sans-serif;
}

.header-level-1, .header-level-2, .header-level-3, .header-level-4, .header-level-5, .header-level-6 {
    font-style: normal;
}

