---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Cortex";
    src: url(../fonts/CortexSymbology-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Goudy Old Style";
    src: url(../fonts/OFLGoudyStM.otf) format('truetype');
}

@font-face {
    font-family: "Amarante";
    src: url(../fonts/Amarante-Regular.ttf) format('truetype');
}

section#toc {
    z-index:2;
    padding:20px 82px 0;
}

body, p {
    font-family: 'Cortex', 'Goudy Old Style', 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cortex', 'Amarante', 'Open Sans', sans-serif;
}

.header-level-1, .header-level-2, .header-level-3, .header-level-4, .header-level-5, .header-level-6 {
    font-style: normal;
}

spc {
    color: purple;
}

ul li {
    background: none;
}

li::marker {
    content: "●";
    font-size: 0.7em;
}

