---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Cortex";
    src: url(../fonts/CortexSymbology-Regular.ttf) format('truetype');
}

p {
    font-family: 'Cortex', 'Open Sans', sans-serif;
}

span.p {
    color: purple;
}

ul {
    list-style-type: "●";
    background: none;
}
